@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
    font-family: DauphinPlain;
    src: url(../fonts/Dauphin.ttf);
}

body {
    font-family: 'Open Sans';
}
#contenido-principal {
    margin: 0 auto;
    width: 960px;
}
img {
    border-radius: 50%;
    border: 2px solid rgb(43, 43, 43);
    box-shadow: 10px 3px 10px 3px rgb(43, 43, 43);
}
td {
    vertical-align: top;
    padding: 20px;
}

h5 {
    margin:0;
    margin-bottom: 5px;
    color: #5a4ff8;
    text-transform: capitalize;
    font-size: 20px;
}

table {
    margin: 0 auto;
}

.fuente-grande {
    margin-top:20px;
    font-size: 30px;
}

.input-grande {
    height: 50px;
    line-height: 50px;
    font-size: 30px;
}

.titulo-articulo {
    font-weight: 400;
    font-family: DauphinPlain;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 10px;
}
#titulo-principal {
    font-size: 70px;
    line-height: 90px;
    font-family: DauphinPlain;
    margin: 0;
    margin-top: 50px;
    padding: 0;
}
#subtitulo1 {
    margin: 10px 10px 5px 10px;
    font-size: 14px;
    line-height: 18px;
    font-style: italic;
}
#subtitulo2 {
    margin: 5px 10px 20px 10px;
    font-size: 12px;
    line-height: 14px;
}
.titulo-centrado {
    text-align: center;
}

.clase_de_boton {
    cursor: pointer;
    padding: 10px;
    border: 1px solid blue;
    background-color: transparent;
    font-weight: bold;
    margin-top: 20px;
}

.gradient-background {
	width: 100%;
	height: 100vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752,#E73C7E, #23A6D5,#23D5AB);
	background-size: 400% 400%;
	position: relative;
	animation: change 10s ease-in-out infinite;
}


@keyframes change {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}
